body {
    background-image: url('../background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .col-md-6.col-sm-12 {
        min-height: auto;
        /* Remove minimum height for smaller screens */
    }
}
