extends layout

block content
  .container
    .card.text-white.bg-primary.m-auto.my-3(style='max-width: 80%;')
      .card-header Your Calendar
      .card-body
        #calendar
      
      script(src="/javascripts/calendar.js")

    .event-list
    

