doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-expand-lg.bg-dark(data-bs-theme='dark')
      .container-fluid
        a.navbar-brand(href='/') Sync Up
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarColor02', aria-controls='navbarColor02', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarColor02.collapse.navbar-collapse
          ul.navbar-nav.d-flex.align-items-center
            li.nav-item
              a.nav-link.active(href='/')
                | Home
                span.visually-hidden (current)
          ul.navbar-nav.ms-auto.d-flex.align-items-center
            li.nav-item
              button.btn.btn-secondary(type='button') Login
            li.nav-item
              button.btn.btn-secondary.ms-2.ms-sm-3(type='button') Sign Up
    block content
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='/javascripts/bootstrap.min.js')



