extends layout 

block content
    .section.gradient-custom
        .container.py-5.d-flex.flex-column.align-items-center.justify-content-center.h-100
            .card.shadow-2-strong.card-login(style='border-radius: 15px;')
                .card-body.p-4.p-md-5
                    h3.mb-4.pb-2.pb-md-0.mb-md-5.text-center Login
                    form.text-center
                        .row.m-3
                            .form-outline
                                input#emailAddress.form-control.form-control-lg(type='email', aria-describedby='emailHelp', placeholder='Enter email', required='')
                        .row.m-3
                            .form-outline
                                .d-flex.align-items-center.justify-content-between
                                    input#password.form-control.form-control-lg(type='password', placeholder='Password', autocomplete='off', required='')
                                input#showPassword.form-check-input(type='checkbox') 
                                label.form-check-label(for='showPassword') Show Password
                        button.btn.btn-primary.btn-lg.m-3(type='submit') Login
                        hr
                        a.btn.btn-info.btn-lg.m-3(href='/signup') Create new account



