extends layout 

block content
    div
    p Log In
    .login-page
        label(for='username') Username: 
        input#username.credentials(type='text', placeholder='Enter Username')
        br
        label(for='password') Password: 
        input#password.credentials(type='text', placeholder='Enter Password')